// Colors
$color-indigo-50: hsl(226, 100%, 97%);
$color-indigo-100: hsl(226, 100%, 94%);
$color-indigo-200: hsl(228, 96%, 89%);
$color-indigo-300: hsl(230, 94%, 82%);
$color-indigo-400: hsl(234, 89%, 74%);
$color-indigo-500: hsl(239, 84%, 67%);
$color-indigo-600: hsl(243, 75%, 59%);
$color-indigo-700: hsl(245, 58%, 51%);
$color-indigo-800: hsl(244, 55%, 41%);
$color-indigo-900: hsl(242, 47%, 34%);
$color-indigo-950: hsl(244, 47%, 20%);

$color-danger-200: hsl(0, 97%, 85%);
$color-danger-500: hsl(0, 76%, 57%);
$color-danger-800: hsl(0, 54%, 33%);

// Spacing
$container-padding-mobile: 20px;
$container-padding-desktop: 70px;

// Transitions
$transition-speed: 0.4s;
$transition-ease: cubic-bezier(.26, .52, .42, .94);
$transition-ease-secondary: cubic-bezier(.78, .9, .41, .94);

// Layers
$z-index-modal: 30;
$z-index-cookie: 40;
$z-index-nav: 50;

// Breakpoints
$qhd: 1920px;
$fhd: 1680px;
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 428px;

// Grid properties
$grid-col-count: 12;
$grid-prefix: (
        '': 0, // Is needed for default col values, for example col-12
        'sm': $sm,
        'md': $md,
        'lg': $lg,
        'xl': $xl,
        'xxl': $xxl,
        'fhd': $fhd,
        'qhd' : $qhd,
);
